/* V10 */

/****************************************/
/******                            ******/
/******      COMMON SECTION        ******/
/******                            ******/

html {
	font-size: 100%;
}

body {
	background-color: black;
}

#conteneur,
#overcontainer {
	font-family: 'Audiowide', cursive;
	color: white;
	max-width: 1024px;
	margin: 0 auto;
	border: 0.15em solid grey;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

/**************** HEADER *********************/
header img {
	max-width: 100%;
}

/****************** TOP MENU *******************/

#topmenu {
	margin-bottom: 1%;
}

.open {
	display: block;
	width: 2.6em;
	height: 1.88em;
	margin: 0.5em 0;

	background: url(../img/menu.png) center no-repeat #999;
	border-radius: 0.5em;
	text-indent: -999em;
}

#topmenu > nav > ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	padding: 0 4%;
}

.menu li {
	position: relative;
	-ms-flex-preferred-size: 13em;
	flex-basis: 13em;
	-ms-flex-negative: 1;
	flex-shrink: 1;
}

.menu a {
	display: block;
	padding: 0;
	margin: 0;
	background: -webkit-gradient(linear, left top, right top, from(#7E7F80), to(black));
	background: linear-gradient(to right, #7E7F80, black);
	border-radius: 1em 1em 0 1em;
	border: 0.15em solid white;

	line-height: 1.5em;
	color: white;
	text-decoration: none;
	text-align: center;
}

/*************** TOP MENU - SUBMENU ****************/

.submenu {
	display: none;
	position: absolute;
	height: 1em;
	width: 100%;
	z-index: 10;
}

#planets:hover ul {
	display: block;
}

/****************** SIDE MENU *******************/

#pageslide {
	font-family: 'Audiowide', cursive;
}

#pageslide h1 {
	margin: 40px 0;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
}

#pageslide ul {
	height: 10em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

#pageslide li {
	-ms-flex-item-align: center;
	align-self: center;
	width: 90%;
}

#pageslide .menu a {
	border-radius: 1em 1em 0 1em;
	border: 0.15em solid white;
	background: -webkit-gradient(linear, left top, right top, from(#7E7F80), to(black));
	background: linear-gradient(to right, #7E7F80, black);

	color: white;
	font-size: 1.2em;
	text-align: center;
}

/********* MAIN ************/


/********* FOOTER ************/

footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-pack: space-around;
	-ms-flex-pack: space-around;
	justify-content: space-around;
	margin-top: 2%;
	padding: 0 10%;
	background: url(../img/footer.jpg) no-repeat;
	background-size: cover;
}

footer a {
	padding: 0;
	margin: 2% 0;
	color: white;
	text-decoration: none;
	text-align: center;
}

footer a:nth-of-type(2) {
	-ms-flex-preferred-size: 13em;
	flex-basis: 13em;
	border-left: 0.1em solid white;
	border-right: 0.1em solid white;
}

/********* FOOTER ************/

/******                            ******/
/******        RESPONSIVE          ******/
/******                            ******/

@media only screen and (min-width:37.5em) {

	/* DESKTOP */
	.menu {
		display: block;
	}

	.open {
		display: none;
	}

	.mobileonly {
		display: none;
	}

	#mainaccueil section,
	#mainpresentation section {
		border: 0.1em solid white;
		-webkit-box-shadow: 10px 6px 12px 0px rgba(255, 255, 255, 1);
		box-shadow: 10px 6px 12px 0px rgba(255, 255, 255, 1);
	}

	footer {
		-webkit-box-shadow: inset 0px 5px 7px 0px rgba(255, 255, 255, .9);
		box-shadow: inset 0px 5px 7px 0px rgba(255, 255, 255, .9)
	}
}


@media only screen and (max-width:37.5em) {

	/* MOBILE */
	.menu {
		display: none;
	}

	.open {
		display: block;
	}

	.desktoponly {
		display: none;
	}
}

/******                            ******/
/******      COMMON SECTION        ******/
/******                            ******/
/****************************************/
/******                            ******/
/******       MAIN ACCUEIL         ******/
/******                            ******/

/*** RIGHT SECTION ***/
#mainaccueil section {
	width: 100%;
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#mainaccueil section > div:first-of-type {
	position: relative;
}

#mainaccueil section h1 {
	text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	margin: 3% 0;
}

#mainaccueil section img {
	max-width: 100%;
}

#mainaccueil section p {
	display: inline-block;
	vertical-align: top;
}

#mainaccueil section > div:last-of-type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}

#mainaccueil section a {
	text-align: center;
	color: white;
}


/******                            ******/
/******        RESPONSIVE          ******/
/******                            ******/
@media only screen and (min-width:37.5em) {

	/* DESKTOP */
	/*** LEFT SECTION ***/
	#mainaccueil aside {
		display: inline-block;
		vertical-align: top;
		width: 30%;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 1% 0 1%;
	}

	#mainaccueil aside h2 {
		cursor: pointer;
		background: -webkit-gradient(linear, left top, right top, from(black), to(#1C1C1C));
		background: linear-gradient(to right, black, #1C1C1C);
		border-radius: 0.5em;
		padding: 1% 1%;
		margin: 5% 1%;
	}

	#mainaccueil aside p {
		display: none;
	}


	/*** RIGHT SECTION ***/
	#mainaccueil section {
		display: inline-block;
		width: 68%;
	}

	/** RIGHT SECTION: SPACEBOX **/
	#spacebox {
		overflow: hidden;
	}

	#spacebox div {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		position: absolute;
	}

	.cosmomove {
		-webkit-animation: cosmomove 20s ease-in-out infinite alternate;
		animation: cosmomove 20s ease-in-out infinite alternate;
	}
	@-webkit-keyframes cosmomove {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
			left: -15%;
			bottom: -30%;
		}

		20% {
			-webkit-transform: scale(0);
			transform: scale(0);
			left: -15%;
			bottom: -30%;
		}

		80% {
			-webkit-transform: scale(1);
			transform: scale(1);
			left: 60%;
			bottom: 40%;
		}

		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			left: 60%;
			bottom: 40%;
		}
	}

	@keyframes cosmomove {
		0% {
			-webkit-transform: scale(0);
			transform: scale(0);
			left: -15%;
			bottom: -30%;
		}

		20% {
			-webkit-transform: scale(0);
			transform: scale(0);
			left: -15%;
			bottom: -30%;
		}

		80% {
			-webkit-transform: scale(1);
			transform: scale(1);
			left: 60%;
			bottom: 40%;
		}

		100% {
			-webkit-transform: scale(1);
			transform: scale(1);
			left: 60%;
			bottom: 40%;
		}
	}

	#spaceman {
		display: inline-block;
		-webkit-animation: cosmoscillate 5s ease-in-out infinite alternate;
		animation: cosmoscillate 5s ease-in-out infinite alternate;
	}

	@-webkit-keyframes cosmoscillate {
		from {
			-webkit-transform: rotate(-15deg);
			transform: rotate(-15deg);
		}

		to {
			-webkit-transform: rotate(15deg);
			transform: rotate(15deg);
		}
	}

	@keyframes cosmoscillate {
		from {
			-webkit-transform: rotate(-15deg);
			transform: rotate(-15deg);
		}

		to {
			-webkit-transform: rotate(15deg);
			transform: rotate(15deg);
		}
	}

	#spacebox div p {
		display: block;
		position: absolute;
		opacity: 0;
	}

	#spacebox div:hover p {
		opacity: 1;
	}

	#spacebox div:hover {
		-webkit-animation-play-state: paused;
		animation-play-state: paused;
	}

	/** RIGHT SECTION: BOTTOM PART **/
	#mainaccueil section > div:last-of-type {
		padding-bottom: 1%;
		overflow: hidden;
	}

	#mainaccueil section > div:last-of-type img {
		max-width: 100%;
	}

	#mainaccueil section a:hover {
		-webkit-animation: rotatelink 10s linear infinite;
		animation: rotatelink 10s linear infinite;
	}

	@-webkit-keyframes rotatelink {
		from {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		to {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}

	@keyframes rotatelink {
		from {
			-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
		}

		to {
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg);
		}
	}
}


/******                            ******/
/******       MAIN ACCUEIL         ******/
/******                            ******/
/****************************************/
/******                            ******/
/******     MAIN PRESENTATION      ******/
/******                            ******/


#mainpresentation aside {
	vertical-align: top;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5% 3% 10% 3%;
}

#mainpresentation section {
	display: inline-block;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 10%;
}

#mainpresentation h1 {
	margin: 2% 0;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
}

#mainpresentation iframe {
	width: 100%;
}

/******                            ******/
/******        RESPONSIVE          ******/
/******                            ******/
@media only screen and (min-width:37.5em) {

	/* DESKTOP */
	#mainpresentation aside {
		display: inline-block;
		width: 31%;
		padding: 0 2% 0 1%;
	}

	#mainpresentation section {
		display: inline-block;
		width: 66%;
		margin-bottom: 3%;
	}
}

/******                            ******/
/******     MAIN PRESENTATION      ******/
/******                            ******/
/****************************************/
/******                            ******/
/******     MAIN PLANETES INT      ******/
/******                            ******/

#mainplanetesint {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/*** LEFT SECTION ***/

#mainplanetesint aside {
	width: 25%;
	text-align: center;
	margin: 3% 0 0 2%;
}

#mainplanetesint aside h1 {
	margin-bottom: 2em;
}

#mainplanetesint input {
	margin: 0.5em;
	width: 7em;
	font-family: 'Audiowide', cursive;
	color: white;
	background-color: grey;
	border: 0;
	cursor: pointer;
}

#voidbutton {
	pointer-events: none;
	opacity: 0;
}

/*** RIGHT SECTION ***/
#mainplanetesint section {
	display: none;
	width: 75%;
}

#sol {
	position: relative;
}

#gravity {
	position: absolute;
	width: 0.063em;
	height: 0.063em;
	left: 50%;
	top: 50%;
}

#gravity div {
	position: absolute;
}

#mercury {
	width: 26.14em;
	left: -13.07em;
}

#venus {
	width: 33.16em;
	left: -16.58em;
}

#earth {
	width: 38.91em;
	left: -19.46em;
}

#mars {
	width: 50em;
	left: -25em;
}

#mainplanetesint img {
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

#sun {
	position: absolute;
}

.mercuryanim {
	-webkit-animation: solanim 1.92s linear infinite;
	animation: solanim 1.92s linear infinite;
}

.venusanim {
	-webkit-animation: solanim 4.91s linear infinite;
	animation: solanim 4.91s linear infinite;
}

.earthanim {
	-webkit-animation: solanim 7.96s linear infinite;
	animation: solanim 7.96s linear infinite;
}

.marsanim {
	-webkit-animation: solanim 15s linear infinite;
	animation: solanim 15s linear infinite;
}

@-webkit-keyframes solanim {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes solanim {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/******                            ******/
/******     MAIN PLANETES INT      ******/
/******                            ******/
/****************************************/
/******                            ******/
/******   MAIN PLANETES GEANTES    ******/
/******                            ******/

#mainplanetesgeantes {
	margin: 5% 1% 10% 1%;
}

#mainplanetesgeantes h1 {
	text-align: center;
}

#mainplanetesgeantes div {
	position: relative;
}

#giantcontainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: flex-end;
	-ms-flex-align: flex-end;
	align-items: flex-end;
	bottom: 0;
}

#giantcontainer li {
	display: block;
	-webkit-box-flex: 1;
	-ms-flex: 20%;
	flex: 20%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#giantcontainer img {
	max-width: 100%;
	display: block;
	margin: auto;
	margin-bottom: 5%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

#giantcontainer li:hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#giantcontainer a {
	text-decoration: none;
	color: white;
	text-align: center;
}

/*** POP UP ***/


#popup {
	display: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	left: 50%;
	z-index: 1;
	width: 83%;
	max-width: 53em;
	padding: 1em;

	-webkit-box-shadow: 2px 0 20px white;
	box-shadow: 2px 0 20px white;
	background: url(../img/ciel.jpg) no-repeat;
	border-radius: 1em;
}

#planetpic {
	width: 7em;
}

#planetname {
	display: inline-block;
	font-size: 2em;
	padding-top: 0.9em;
	padding-left: 10%;
	vertical-align: top;
}

#cross {
	display: float;
	float: right;
	font-size: 3em;
	text-align: center;
	width: 1em;
	border: 0.01em solid white;
	border-radius: 0.2em;
	cursor: pointer;
}

#poptext {
	margin-top: 2em;
}

/******                            ******/
/******   MAIN PLANETES GEANTES    ******/
/******                            ******/
/****************************************/
/******                            ******/
/******        MAIN CONTACT        ******/
/******                            ******/


/*** LEFT SECTION ***/
#maincontact section {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	width: 100%;
}

/***   FORM TITLE   ***/
#maincontact section h1 {
	margin: 5% 0;
	font-weight: bold;
	font-size: 1.4em;
	text-align: center;
}

/***   FORM    ***/
#maincontact form {
	margin: 5% 1% 10% 1%;
}

#maincontact label {
	display: block;
	margin: 2% 0 0.5% 0.3%;
}

#maincontact input {
	display: block;
	width: 99%;
	border-radius: 0.5em;
	padding-left: 0.1em;
}

#maincontact input:focus::-webkit-input-placeholder {
	background-color: grey;
	color: white;
}

#maincontact input:focus:-ms-input-placeholder {
	background-color: grey;
	color: white;
}

#maincontact input:focus::placeholder {
	background-color: grey;
	color: white;
}

#maincontact .fieldset_inputs {
	display: inline-block;
	width: auto;
	margin: 0;
}

#maincontact .fieldset_labels {
	display: inline-block;
	margin: 0;
}

#maincontact #date_Field {
	width: auto;
}

#maincontact textarea {
	display: block;
	width: 99%;
	height: 10em;
	border-radius: 0.5em;
	padding-left: 0.1em;
}

#maincontact button {
	border-radius: 0.5em;
	margin-right: 1%;
}

/***  RIGHT SECTION  ***/
#maincontact aside {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	vertical-align: top;
	width: 100%;
	text-align: center;
}

#maincontact aside h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 5%;
}

#maincontact aside p {
	margin-bottom: 5%;
}

#map {
	margin: 5% 10% 15% 10%;
	padding-bottom: 50%;
}

/******                            ******/
/******        RESPONSIVE          ******/
/******                            ******/
@media only screen and (min-width:47em) {

	/* INTERMEDIATE */
	/*** LEFT SECTION ***/
	#maincontact section {
		margin-top: 4%;
	}

	#maincontact section h1 {
		font-weight: normal;
		margin-top: 0;
	}

	/***   FORM    ***/
	#maincontact form {
		margin: 5% 0 3% 10%;
	}

	#maincontact label {
		display: inline-block;
		width: 10em;
	}

	#maincontact input {
		display: inline-block;
		width: 20em;
	}

	#maincontact fieldset {
		display: inline;
	}

	#maincontact .fieldset_inputs {
		display: inline;
	}

	#maincontact .fieldset_labels {
		width: auto;
	}

	#label_message {
		vertical-align: top;
	}

	#maincontact textarea {
		display: inline-block;
		width: 20em;
		height: 10em;
		margin-bottom: 2%;
	}

	/***  RIGHT SECTION  ***/
	#maincontact aside {
		margin-top: 4%;
	}
}

@media only screen and (min-width:37.5em) {

	/* DESKTOP */
	/*** LEFT SECTION ***/
	#maincontact section {
		display: inline-block;
		width: 65%;
	}

	/***  RIGHT SECTION  ***/
	#maincontact aside {
		display: inline-block;
		width: 34%;
	}

	#maincontact aside #map {
		display: none;
		left: 2px;
	}

	#maincontact aside:hover #map {
		display: block;
		-webkit-animation: maprotanim 1s;
		animation: maprotanim 1s;
	}

	@-webkit-keyframes maprotanim {
		from {
			-webkit-transform: scale(0) rotate(0deg);
			transform: scale(0) rotate(0deg);
		}

		to {
			-webkit-transform: scale(1) rotate(360deg);
			transform: scale(1) rotate(360deg);
		}
	}

	@keyframes maprotanim {
		from {
			-webkit-transform: scale(0) rotate(0deg);
			transform: scale(0) rotate(0deg);
		}

		to {
			-webkit-transform: scale(1) rotate(360deg);
			transform: scale(1) rotate(360deg);
		}
	}

}

/******                            ******/
/******        MAIN CONTACT        ******/
/******                            ******/
/****************************************/
