/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ===== primary styles =====================================================
   Author:
   ========================================================================== */
html {
  font-size: 100%;
}
html body {
  background-color: black;
}
html body #conteneur,
html body #overcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  border: 0.15em solid grey;
  overflow: hidden;
  font-family: "Audiowide", cursive;
  color: white;
}
html body header {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
html body div#topmenu {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
html body main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
html body footer {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

/* MOBILE */
@media only screen and (max-width: 37.5em) {
  .menu {
    display: none;
  }

  .desktoponly {
    display: none;
  }
}
/* DESKTOP */
@media only screen and (min-width: 37.5em) {
  .menu {
    display: block;
  }

  .mobileonly {
    display: none;
  }
}
header img {
  max-width: 100%;
}

div#topmenu a#burger_menu_button {
  display: block;
  width: 2.6em;
  height: 1.88em;
  background: url(../img/menu.png) center no-repeat #999;
  border-radius: 0.5em;
}
div#topmenu .menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0 4%;
}
div#topmenu #planets:hover #submenu {
  display: block;
}
div#topmenu #planets #submenu {
  display: none;
  position: absolute;
  height: 1em;
  width: 100%;
  z-index: 10;
}

@media only screen and (min-width: 37.5em) {
  div#topmenu {
    margin-bottom: 1%;
  }
  div#topmenu a#burger_menu_button {
    display: none;
  }
}
#pageslide {
  font-family: "Audiowide", cursive;
}
#pageslide .menu a {
  border-radius: 1em 1em 0 1em;
  border: 0.15em solid white;
  background: -webkit-gradient(linear, left top, right top, from(#7E7F80), to(black));
  background: linear-gradient(to right, #7E7F80, black);
  color: white;
  font-size: 1.2em;
  text-align: center;
}
#pageslide h1 {
  margin: 40px 0;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
}
#pageslide ul {
  height: 10em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#pageslide ul li {
  -ms-flex-item-align: center;
      align-self: center;
  width: 90%;
}

.menu li {
  position: relative;
  -ms-flex-preferred-size: 13em;
      flex-basis: 13em;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}
.menu li a {
  display: block;
  padding: 0;
  margin: 0;
  background: -webkit-gradient(linear, left top, right top, from(#7E7F80), to(black));
  background: linear-gradient(to right, #7E7F80, black);
  border-radius: 1em 1em 0 1em;
  border: 0.15em solid white;
  line-height: 1.5em;
  color: white;
  text-decoration: none;
  text-align: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 2%;
  padding: 0 10%;
  background: url(./../img/footer.jpg) no-repeat;
  background-size: cover;
}
footer a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0;
  margin: 2% 0;
  color: white;
  text-decoration: none;
  text-align: center;
}
footer span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

@media only screen and (min-width: 37.5em) {
  footer {
    -webkit-box-shadow: inset 0px 5px 7px 0px rgba(255, 255, 255, 0.9);
            box-shadow: inset 0px 5px 7px 0px rgba(255, 255, 255, 0.9);
  }
}
#mainaccueil {
  /* LEFT PART: ASIDE MENU */
  /** RIGHT SECTION **/
}
#mainaccueil aside {
  display: none;
}
#mainaccueil section {
  width: 100%;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#mainaccueil section h1 {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
  margin: 3% 0;
}
#mainaccueil section div#spacebox {
  position: relative;
}
#mainaccueil section div#spacebox div#cosmomove {
  display: none;
}
#mainaccueil section div#spacebox div#cosmomove p {
  display: inline-block;
  vertical-align: top;
}
#mainaccueil section > div:last-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
#mainaccueil section > div:last-of-type a {
  text-align: center;
  color: white;
}

@media only screen and (min-width: 37.5em) {
  #mainaccueil {
    /* LEFT PART: ASIDE MENU */
    /** RIGHT SECTION **/
  }
  #mainaccueil aside {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 1% 0 1%;
  }
  #mainaccueil aside h2 {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(black), to(#1C1C1C));
    background: linear-gradient(to right, black, #1C1C1C);
    border-radius: 0.5em;
    padding: 1% 1%;
    margin: 5% 1%;
  }
  #mainaccueil aside p {
    display: none;
  }
  #mainaccueil section {
    display: inline-block;
    width: 68%;
    border: 0.1em solid white;
    -webkit-box-shadow: 10px 6px 12px 0px rgb(255, 255, 255);
            box-shadow: 10px 6px 12px 0px rgb(255, 255, 255);
    /* TOP PART */
    /** BOTTOM PART **/
  }
  #mainaccueil section #spacebox {
    overflow: hidden;
  }
  #mainaccueil section #spacebox div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
  }
  #mainaccueil section #spacebox div.cosmomove {
    overflow: visible;
    -webkit-animation: cosmomove 20s ease-in-out infinite alternate;
            animation: cosmomove 20s ease-in-out infinite alternate;
  }
  #mainaccueil section #spacebox div.cosmomove img#spaceman {
    display: inline-block;
    -webkit-animation: cosmoscillate 5s ease-in-out infinite alternate;
            animation: cosmoscillate 5s ease-in-out infinite alternate;
  }
  #mainaccueil section #spacebox div.cosmomove p {
    display: block;
    position: absolute;
    opacity: 0;
  }
  #mainaccueil section #spacebox div.cosmomove:hover {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
  }
  #mainaccueil section #spacebox div.cosmomove:hover p {
    opacity: 1;
  }
  #mainaccueil section div:last-of-type {
    padding-bottom: 1%;
    overflow: hidden;
  }
  #mainaccueil section div:last-of-type img {
    max-width: 100%;
  }
  #mainaccueil section div:last-of-type a:hover {
    -webkit-animation: rotatelink 10s linear infinite;
            animation: rotatelink 10s linear infinite;
  }

  /* ANIMATIONS STORE */
  @-webkit-keyframes cosmomove {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      left: -15%;
      bottom: -30%;
    }
    20% {
      -webkit-transform: scale(0);
              transform: scale(0);
      left: -15%;
      bottom: -30%;
    }
    80% {
      -webkit-transform: scale(1);
              transform: scale(1);
      left: 60%;
      bottom: 40%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      left: 60%;
      bottom: 40%;
    }
  }
  @keyframes cosmomove {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      left: -15%;
      bottom: -30%;
    }
    20% {
      -webkit-transform: scale(0);
              transform: scale(0);
      left: -15%;
      bottom: -30%;
    }
    80% {
      -webkit-transform: scale(1);
              transform: scale(1);
      left: 60%;
      bottom: 40%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      left: 60%;
      bottom: 40%;
    }
  }
  /***********/
  @-webkit-keyframes rotatelink {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotatelink {
    from {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  /***********/
  @-webkit-keyframes cosmoscillate {
    from {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    to {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
  }
  @keyframes cosmoscillate {
    from {
      -webkit-transform: rotate(-15deg);
              transform: rotate(-15deg);
    }
    to {
      -webkit-transform: rotate(15deg);
              transform: rotate(15deg);
    }
  }
}
#mainpresentation aside {
  display: block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 5% 3% 10% 3%;
}
#mainpresentation section {
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin-bottom: 10%;
}
#mainpresentation section h1 {
  margin: 2% 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}
#mainpresentation section iframe {
  width: 100%;
}

@media only screen and (min-width: 37.5em) {
  #mainpresentation aside {
    display: inline-block;
    width: 31%;
    padding: 0 2% 0 1%;
  }
  #mainpresentation section {
    display: inline-block;
    width: 66%;
    margin-bottom: 3%;
    border: 0.1em solid white;
    -webkit-box-shadow: 10px 6px 12px 0px rgb(255, 255, 255);
            box-shadow: 10px 6px 12px 0px rgb(255, 255, 255);
  }
}
main#mainplanetesint {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*** LEFT SECTION ***/
  /*** RIGHT SECTION ***/
}
main#mainplanetesint aside {
  width: 25%;
  text-align: center;
  margin: 3% 0 0 2%;
}
main#mainplanetesint aside h1 {
  margin-bottom: 2em;
}
main#mainplanetesint aside ul li input {
  margin: 0.5em;
  width: 7em;
  font-family: "Audiowide", cursive;
  color: white;
  background-color: grey;
  border: 0;
  cursor: pointer;
}
main#mainplanetesint aside ul li input#voidbutton {
  pointer-events: none;
  opacity: 0;
}
main#mainplanetesint section {
  display: none;
  width: 75%;
}
main#mainplanetesint section div#sol {
  position: relative;
}
main#mainplanetesint section div#sol div#gravity {
  position: absolute;
  width: 0.063em;
  height: 0.063em;
  left: 50%;
  top: 50%;
}
main#mainplanetesint section div#sol div#gravity img {
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
main#mainplanetesint section div#sol div#gravity img#sun {
  position: absolute;
}
main#mainplanetesint section div#sol div#gravity div {
  position: absolute;
}
main#mainplanetesint section div#sol div#gravity div#mercury {
  width: 26.14em;
  left: -13.07em;
}
main#mainplanetesint section div#sol div#gravity div#venus {
  width: 33.16em;
  left: -16.58em;
}
main#mainplanetesint section div#sol div#gravity div#earth {
  width: 38.91em;
  left: -19.46em;
}
main#mainplanetesint section div#sol div#gravity div#mars {
  width: 50em;
  left: -25em;
}
main#mainplanetesint section .mercuryanim {
  -webkit-animation: solanim 1.92s linear infinite;
          animation: solanim 1.92s linear infinite;
}
main#mainplanetesint section .venusanim {
  -webkit-animation: solanim 4.91s linear infinite;
          animation: solanim 4.91s linear infinite;
}
main#mainplanetesint section .earthanim {
  -webkit-animation: solanim 7.96s linear infinite;
          animation: solanim 7.96s linear infinite;
}
main#mainplanetesint section .marsanim {
  -webkit-animation: solanim 15s linear infinite;
          animation: solanim 15s linear infinite;
}
@-webkit-keyframes solanim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes solanim {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

main#mainplanetesgeantes {
  margin: 5% 1% 10% 1%;
}
main#mainplanetesgeantes h1 {
  text-align: center;
}
main#mainplanetesgeantes div {
  position: relative;
}
main#mainplanetesgeantes div ul#giantcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  bottom: 0;
}
main#mainplanetesgeantes div ul#giantcontainer li {
  display: block;
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main#mainplanetesgeantes div ul#giantcontainer li a {
  text-decoration: none;
  color: white;
  text-align: center;
}
main#mainplanetesgeantes div ul#giantcontainer li a img {
  max-width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 5%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
main#mainplanetesgeantes div ul#giantcontainer li:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div#popup {
  display: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  left: 50%;
  z-index: 1;
  width: 83%;
  max-width: 53em;
  padding: 1em;
  -webkit-box-shadow: 2px 0 20px white;
          box-shadow: 2px 0 20px white;
  background: url(../img/ciel.jpg) no-repeat;
  border-radius: 1em;
}
div#popup section#popupcontent div img#planetpic {
  width: 7em;
}
div#popup section#popupcontent div h1#planetname {
  display: inline-block;
  font-size: 2em;
  padding-top: 0.9em;
  padding-left: 10%;
  vertical-align: top;
}
div#popup section#popupcontent div span#cross {
  display: float;
  float: right;
  font-size: 3em;
  text-align: center;
  width: 1em;
  border: 0.01em solid white;
  border-radius: 0.2em;
  cursor: pointer;
}
div#popup section#popupcontent p#poptext {
  margin-top: 2em;
}

main#maincontact {
  /*** LEFT SECTION: FORM ***/
  /***  RIGHT SECTION: MAP ***/
}
main#maincontact section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  width: 100%;
}
main#maincontact section h1 {
  margin: 5% 0;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}
main#maincontact section form {
  margin: 5% 1% 10% 1%;
}
main#maincontact section form ul li {
  margin: 5px 0;
}
main#maincontact section form ul li label {
  display: block;
  margin: 2% 0 0.5% 0.3%;
}
main#maincontact section form ul li label.fieldset_labels {
  display: inline-block;
  margin: 0;
}
main#maincontact section form ul li input {
  display: block;
  width: 99%;
  border-radius: 0.5em;
  padding-left: 0.1em;
}
main#maincontact section form ul li input:focus::-webkit-input-placeholder {
  background-color: grey;
  color: white;
}
main#maincontact section form ul li input:focus::-moz-placeholder {
  background-color: grey;
  color: white;
}
main#maincontact section form ul li input:focus:-ms-input-placeholder {
  background-color: grey;
  color: white;
}
main#maincontact section form ul li input:focus::-ms-input-placeholder {
  background-color: grey;
  color: white;
}
main#maincontact section form ul li input:focus::placeholder {
  background-color: grey;
  color: white;
}
main#maincontact section form ul li input.fieldset_inputs {
  display: inline-block;
  width: auto;
  margin: 0;
}
main#maincontact section form ul li input#date_Field {
  width: auto;
}
main#maincontact section form ul li textarea {
  display: block;
  width: 99%;
  height: 10em;
  border-radius: 0.5em;
  padding-left: 0.1em;
  margin-bottom: 2%;
}
main#maincontact section form ul li#buttons_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}
main#maincontact section form ul li#buttons_box button {
  border-radius: 0.5em;
  margin-right: 1%;
}
main#maincontact aside {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
  width: 100%;
  text-align: center;
}
main#maincontact aside h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 5%;
}
main#maincontact aside p {
  margin-bottom: 5%;
}
main#maincontact aside div#map {
  margin: 5% 10% 15% 10%;
  padding-bottom: 50%;
}

@media only screen and (min-width: 37.5em) {
  main#maincontact {
    /*** LEFT SECTION: FORM ***/
    /***  RIGHT SECTION: MAP  ***/
  }
  main#maincontact section {
    display: inline-block;
    width: 65%;
  }
  main#maincontact aside {
    display: inline-block;
    width: 34%;
  }
  main#maincontact aside div#map {
    display: none;
    left: 2px;
  }
  main#maincontact aside:hover div#map {
    display: block;
    -webkit-animation: maprotanim 1s;
            animation: maprotanim 1s;
  }
}
@media only screen and (min-width: 47em) {
  main#maincontact {
    /*** LEFT SECTION: FORM ***/
    /***  RIGHT SECTION: MAP  ***/
  }
  main#maincontact section {
    margin-top: 4%;
  }
  main#maincontact section h1 {
    font-weight: normal;
    margin-top: 0;
  }
  main#maincontact section form {
    margin: 5% 0 3% 10%;
  }
  main#maincontact section form ul li label {
    display: inline-block;
    width: 10em;
  }
  main#maincontact section form ul li label#label_message {
    vertical-align: top;
  }
  main#maincontact section form ul li label.fieldset_labels {
    width: auto;
  }
  main#maincontact section form ul li input {
    display: inline-block;
    width: 20em;
  }
  main#maincontact section form ul li input.fieldset_inputs {
    display: inline;
  }
  main#maincontact section form ul li fieldset {
    display: inline;
  }
  main#maincontact section form ul li textarea {
    display: inline-block;
    width: 20em;
    height: 10em;
  }
  main#maincontact aside {
    margin-top: 4%;
  }
}
@-webkit-keyframes maprotanim {
  from {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}
@keyframes maprotanim {
  from {
    -webkit-transform: scale(0) rotate(0deg);
            transform: scale(0) rotate(0deg);
  }
  to {
    -webkit-transform: scale(1) rotate(360deg);
            transform: scale(1) rotate(360deg);
  }
}

#pageslide {
  /* These styles MUST be included. Do not change. */
  display: none;
  position: absolute;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  height: 100%;
  z-index: 999999;
  /* Specify the width of your pageslide here */
  /*width: 220px;*/
  width: 60%;
  padding: 20px;
  /* These styles are optional, and describe how the pageslide will look */
  background-color: #333;
  color: #FFF;
  -webkit-box-shadow: inset 0 0 5px 5px #222;
          box-shadow: inset 0 0 5px 5px #222;
}/*# sourceMappingURL=styles.css.map */