html {
	font-size: 100%;

	body {
		background-color: black;

		#conteneur,
		#overcontainer {
			display: flex;
			flex-direction: column;
			box-sizing: border-box;
			min-height: 100vh;
			max-width: 1024px;
			margin: 0 auto;
			border: 0.15em solid grey;
			overflow: hidden;
			font-family: 'Audiowide', cursive;
			color: white;
		}

		header {
			flex: 0;
		}

		div#topmenu {
			flex: 0;
		}

		main {
			flex: 1;
		}

		footer {
			flex: 0;
		}
	}
}