div#topmenu {

	a#burger_menu_button {
		display: block;
		width: 2.6em;
		height: 1.88em;
		background: url(../img/menu.png) center no-repeat #999;
		border-radius: 0.5em;

	}

	.menu {
		& > ul {
			display: flex;
			justify-content: space-around;
			padding: 0 4%;
		}
	}

	#planets {
		&:hover {
			#submenu {
				display: block;
			}
		}

		#submenu {
			display: none;
			position: absolute;
			height: 1em;
			width: 100%;
			z-index: 10;
		}
	}
}